{{template "base" .}}

{{define "content"}}
<div class="container ">
    <div class="row">
        <div class="col">
            <img src="/static/images/generals-quarters.png" alt="" class="img-fluid img-thumbnail mx-auto d-block room-image">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">General Quarters</h1>
            <p class="text-center">God a radiant nights sainted the. Darkness late let forget devil throws, till heart whom leave though if soul, this god heart she chamber this sitting the. The a with of muttered such melancholy sitting shall. At as and or of the perched, beguiling betook i lost is god an. Spoke and perfumed a of. The both soon ah flitting bore. Within tempest and with my eyes and mefilled, morrow till of tell nevermore as chamber in. That bust prophet by tapping violet followed, word ominous my kind no separate door stopped straight. The thy craven for gaunt deep. Or.</p>

        </div>

    </div>
    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availbility</a>
        </div>
    </div>

{{end}}

{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
    let html = `
        <form id="check-availibility-form" method="post" action="" novalidate class="needs-validation">
            <div class="row">
                <div class="col">
                    <div class="row" id="reservation-date-modal">
                        <div class="col">
                            <input disabled required type="text" class="form-control" name="start" placeholder="Arrival " id="start" />
                        </div>
                        <div class="col">
                            <input disabled required type="text" class="form-control" name="end" placeholder="Departure " id="end" />
                        </div>
                    </div>
                </div>
            </div>
        </form >
    `
    attention.custom({ msg: html, title: "Choose your dates" });

})
</script>

{{end}}