{{template "base" .}}

{{define "content"}}
<div class="container ">
    <div class="row">
        <div class="col">
            <img src="/static/images/marjors-suite.png" alt="" class="img-fluid img-thumbnail mx-auto d-block room-image">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">Major Quarters</h1>
            <p class="text-center">Help sought louder gileadtell on me at, of broken nevermore implore was. Did shadows long mystery still thereis raven i all. A though mortals seat gently sure in before, by nothing back my door, metell this and footfalls my angels now my bird my, door the lent and on thy off. Maiden its demons only for. The tempest with lost be. Bird parting so said forgiveness air, said stern with each never, whose from by and within ember maiden, in bust and with this bird tufted door seeing, till ominous my still hesitating still. Into wore the evilprophet off shorn.</p>

        </div>

    </div>
    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availbility</a>
        </div>
    </div>

{{end}}

{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
    let html = `
        <form id="check-availibility-form" method="post" action="" novalidate class="needs-validation">
            <div class="row">
                <div class="col">
                    <div class="row" id="reservation-date-modal">
                        <div class="col">
                            <input disabled required type="text" class="form-control" name="start" placeholder="Arrival " id="start" />
                        </div>
                        <div class="col">
                            <input disabled required type="text" class="form-control" name="end" placeholder="Departure " id="end" />
                        </div>
                    </div>
                </div>
            </div>
        </form >
    `
    attention.custom({ msg: html, title: "Choose your dates" });

})
</script>

{{end}}