{{template "base" .}}

{{define "content"}}
<div class="container ">
        
<div class="row">
    <div class="col">
        <h1 class="text-center mt-5">Make Reservation </h1>
    </div>
</div>

    <div class="row">
        <div class="col-md-3">
          
            <form action="" method="post" class="needs-validation" novalidate>


                <div class="form-group mt-5">
                    <label for="first_name"><h5>First Name:</h5></label>
                    <input type="text" name="first_name" id="first_name" class="form-control" required autocomplete="off">
                </div>
                <div class="form-group mt-5">
                    <label for="last_name"><h5>Last Name:</h5></label>
                    <input type="text" name="last_name" id="last_name" class="form-control" required autocomplete="off">
                </div>
                <div class="form-group mt-5">
                    <label for="email"><h5>Email:</h5></label>
                    <input type="email" name="email" id="email" class="form-control" required autocomplete="off">
                </div>
                <div class="form-group mt-5">
                    <label for="phone"><h5>Phone:</h5></label>
                    <input type="text" name="phone" id="phone" class="form-control" required autocomplete="off">
                </div>
                <hr>

                <input type="submit" name="Make Reservation" id="" class="btn btn-primary">
            </form>
           
        </div>

    </div>
   

</div>

{{end}}